.content
{
    margin:auto;
    width:800px;
    font-family:SimSun;
    background-image:url('image/background.png');
}
.content h1
{
    text-align:center;
}

.content p
{
    font-size:15px;
}

.content h4
{
    font-family:SimHei;
}